# chap6-1 DataFrame loc, iloc
## DataFrame比numpy ndarry(element-wise)提供資料統整的功能
## DataFrame通常為2維資料
## 橫的為列(index),值的為欄(columns)

In [7]:
# 隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.rand(4,4), index=list('abcd'),
                     columns=list('ABCD'))
frame

          A         B         C         D
a  0.552507  0.549071  0.784650  0.983846
b  0.444330  0.727810  0.986927  0.613686
c  0.508343  0.484815  0.013735  0.556220
d  0.151967  0.440175  0.930964  0.931673

## loc用欄位來找出DataFrame的資料
## iloc用索引來找出DataFrame的資料
## .loc用列,欄來定位資料,中間用,分隔

In [8]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.414287  0.550468  0.679069  0.771356
std    0.180431  0.126395  0.451680  0.217560
min    0.151967  0.440175  0.013735  0.556220
25%    0.371239  0.473655  0.591922  0.599319
50%    0.476336  0.516943  0.857807  0.772679
75%    0.519384  0.593756  0.944955  0.944716
max    0.552507  0.727810  0.986927  0.983846

In [9]:
# 橫的叫列，直的叫欄
#.loc先列後欄，中間用逗號（,）分割，例如取 a 和 A 對應的資料
frame.loc['a','A']

0.5525073896255959

In [10]:
# 取前兩列之資料
frame.loc['a':'b',:]

          A         B         C         D
a  0.552507  0.549071  0.784650  0.983846
b  0.444330  0.727810  0.986927  0.613686

In [11]:
# 取前兩欄之資料
frame.loc[:,'A':'B']

          A         B
a  0.552507  0.549071
b  0.444330  0.727810
c  0.508343  0.484815
d  0.151967  0.440175

In [12]:
# 上面的例子取的都是連續的列和欄，取第一列和第四列,與第一欄和第四欄對應的資料
frame.loc[['a','d'],['A','D']]

          A         D
a  0.552507  0.983846
d  0.151967  0.931673

In [10]:
# 取特殊列,欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.584835  0.210152  0.252762  0.056969
c  0.948920  0.898594  0.071418  0.033251
          A         C
a  0.584835  0.252762
b  0.343505  0.750816
c  0.948920  0.071418
d  0.671954  0.962234
          A         D
a  0.584835  0.056969
d  0.671954  0.155037

## lioc是利用列索引與欄索引進行資料定位,都是從0開始

In [11]:
frame.iloc[0,0]

0.584834853067034

In [12]:
# 取得兩列的資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.584835  0.210152  0.252762  0.056969
b  0.343505  0.562927  0.750816  0.096239

In [13]:
# 取前兩列,兩欄之資料
frame.iloc[0:2, 0:2]

          A         B
a  0.584835  0.210152
b  0.343505  0.562927

In [14]:
# 取特殊列,欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.584835  0.210152  0.252762  0.056969
c  0.948920  0.898594  0.071418  0.033251
          A         C
a  0.584835  0.252762
b  0.343505  0.750816
c  0.948920  0.071418
d  0.671954  0.962234
          A         D
a  0.584835  0.056969
d  0.671954  0.155037